@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    margin: 0;;
}
header{
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.nav-title{
    padding-left: 240px;
    padding-top: 50px;
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}

.manu{
    padding-right: 240px;
    padding-top: 50px;
    justify-content: center;
    align-content: center;
}

.manu-item-container{
    display: flex;
    
    align-items: center;
}

.manu ul li a{
    text-decoration:none;

}

.manu-item{
    list-style: none;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 600px;
    color: black;
}

.manu-item a{
    font-size: 18px;
    font-weight: 600px;
    color: black;
}

.brand-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 300px;
    padding-left: 300px;
    
    
}

.brand-title{
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    margin-bottom: 0px;
}

.brand-description{
    font-size: 16px;
    color: #727272;
    text-align: center;
    margin-bottom: 30px;
}

.brand-btn{
    background-color: #FF900E;
    font-size: 20px;
    font-weight: 600px;
    color: white;
    padding: 21px 24px 20px 25px;
    border-radius: 5px;
    border: none;
    margin-bottom: 50px;
}

.brand-img-container{
    margin-right: 150px;
    margin-left: 150px;
}

.brand-img{
    max-width: 100%;
    margin-bottom: 45px;
}

.feature-container{
    display: flex;
    padding-left: 150px;
    padding-right: 50px;
    margin-top: 50px;
    column-gap: 50px;
    margin-bottom: 130px;
}

.feature-description{
    align-content: center;
}

.feature-title{
    font-size: 45px;
    font-weight: 200px;
    margin-bottom: 20px;
    
}

.feature-imgs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
    column-gap: 20px;
    
}

.feature-img{
    height: 242PX;
    width: 242PX;
}
.feature-detail{
    font-size: 16PX;
    margin-bottom: 30px;
}
